*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.article{
    width: calc(100%/3 - 1rem);
    float: left;
    margin: 0.5rem;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.product{
    position: relative;
}

.product span{
    color: white;
    font-weight: bolder;
    padding: 1%;
}

.sale{
    background-color: #eb0037;
    position: absolute;
    bottom: 40px;
    left: 0px;
}

/* Affiancarlo allo span che porta la percentuale di sconto*/
.sustain{
    position: absolute;
    bottom: 40px;
    left: 45px;
    background-color: #00875a;
}

/* Specifico lo span da solo (ultimo articolo) di mettersi all'inizio*/
.bottom-right .sustain{
    position: absolute;
    bottom: 40px;
    left: 0;
}

/* Sovrascrivo l'ordine dato precedentemente al rigo 36 con !important*/
.heart{
    font-size: larger;
    color: red !important;
    background-color: white;
    width: 10%;      /* Per riuscire a personalizzare il contenitore del cuore */
    text-align: center;
    padding: 5%;
    border: 1px solid red;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    right: 10px;
}

span{
    font-size: 14px;
}

.article h2{
    font-size: 16px;
    ;
}

.price{
    font-weight: bolder;
    color: red;
}

.old-price{
    text-decoration: line-through;
}

/* Sezione HOVERING */

.img-hover{
    display: none;
}

.article:hover .img-hover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}